ynav{
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

nav ul{
    text-align: center;
    font-size: 1.2em;
}

nav ul li{
    list-style-type: none;
    background-color: #b2b2b2;
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px rgb(0, 0, 255);
    border-radius: 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li :hover{
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
}

nav ul :hover{
    background-color: rgb(0, 0, 255);
}

header{
    background-color: rgb(46, 139, 87);
    padding: 10px;
}

.homeheader{
    text-align: right;
    color: rgb(255, 255, 255)
}

footer{
    text-align: center;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgb(46, 139, 87);
    color: rgb(0, 0, 0);
}

body{
    background-color: rgb(88, 88, 88);
    font-family: Verdana;
    margin: 0;
}

.product{
    margin: auto;
    padding-right: auto;
    padding-left: auto;
}

.colour{
    color: white;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 40%;
    border: 7px solid rgb(70, 36, 36);
}

.text{
    color: white;
}

h1, h2{
    color: rgb(242, 247, 245);   
}

.logo{
    border-radius: 30px;
    border: solid black;
}